.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(157, 145, 145);
}
.Conatiner{
  display: grid;
  grid-template-columns: repeat(3, 70px);
  border: 1px solid black;

}
.Cell{
  border: 1px solid black;
  height: 70px;
  width: 70px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.won-row {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 193, 101);
  

}